* { 
    margin: 0;
    padding: 0;
}


@media screen and (min-width:1280px) {
    div {
        font-size: 20px;  
        background-color: bisque;
    }

}

@media screen and (max-width:1279px) {
    div {
        font-size: 12px;  
        background-color: khaki;
    }   
}

@media screen and (max-width:480px) {
    div {
        font-size: 10px;  
        background-color: aquamarine; 
    }   
}